body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: rgb(60, 60, 60);
}

h1{
    color: #fff;
    font-weight: 800;
}

p {
    color: #c5c2c2;
    font-weight: 800;
}

#dinheiro{
    color:  #fa5300;
    font-weight: 800;
}

header {
    text-align: center;
    padding: 50px;
}

section {
    text-align: center;
    padding: 30px;
}

form {
    display: flex;
    flex-direction: column;
    max-width: 300px;
    margin: 0 auto;
}

label {
    margin-bottom: 5px;
}

input {
    margin-bottom: 15px;
    padding: 8px;
}

button {
    padding: 10px;
    background-color: #fa5300;
    color: #fff;
    border: none;
    cursor: pointer;
    width: 300px;
    height: 50px;
    border: 1px solid;
    border-radius: 12px;
}

button:hover {
    background-color: #d5450c;
}
#quantidade-disponivel {
    color: #ff0000; /* Cor vermelha para chamar atenção */
    font-weight: bold; /* Texto em negrito */
    font-size: 40px; /* Tamanho da fonte */
    animation: pulse 1s infinite; /* Animação de pulsação (veja no JavaScript) */
}

@keyframes pulse {
    0% { opacity: 1; }
    50% { opacity: 0.5; }
    100% { opacity: 1; }
}

#conteudo {
    display: flex;
    align-items: center;
    max-width: 100% !important;
    margin: 0px 600px;
}

#texto {
    flex: 1; /* Ocupa todo o espaço disponível */
    padding-right: 100px; /* Adiciona um espaço entre o texto e a imagem */
}

#imagem {
    flex: 1; /* Ocupa todo o espaço disponível */
    max-width: 100% !important;
}

#livre_h1 {
    font-size: 60px;
    font-weight: 900;
    padding: 30px 0px 30px 0px;
}

@media only screen and (max-width: 600px) {
    /* Estilos específicos para telas menores que 600px de largura (exemplo: celulares) */
    #conteudo {
        flex-direction: column; /* Empilha os elementos verticalmente */
        text-align: center; /* Centraliza o texto */
        margin: auto !important;
    }

    #texto, #imagem, #botao {
        margin-bottom: 20px; /* Adiciona espaço entre os elementos */
        padding-right: 0 !important; /* Adiciona um espaço entre o texto e a imagem */
    }
    #imagemBotao img {
        max-width: 80%; /* Reduz o tamanho da imagem para 80% da largura do contêiner pai em telas menores que 600px */
    }

    #imagem img {
        max-width: 80%; /* Reduz o tamanho da imagem para 80% da largura do contêiner pai em telas menores que 600px */
    }
}